.App {
    --bs-gutter-x: 0rem;
}

.PlaneCard {
    opacity: 0.6;
    transition: 0.3s;
    margin: 2rem;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.PlaneCard:hover {
    transform: scale(1.03);
    opacity: 1;
}

.Navigation {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* Styles related to NavBar */
.navbar-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .below-nav {
    padding-top: 5rem;
  }